# CAP
_out
*.db
connection.properties
default-*.json
.cdsrc-private.json
target/

# Web IDE, App Studio
.che/

# production
/build
/views
node_modules/
dist*/
gen*/

# MTA
*_mta_build_tmp
*.mtar
mta_archives/
mta-op-*
Makefile_*.mta

# Other
.DS_Store
*.orig
*.log
.env
*.iml
*.flattened-pom.xml
simulations/
./backend/logs/